<!DOCTYPE html>
<html>

<head>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="wrapper" v-show="visible">
            <div class="header">
                <h1>Keybinds</h1>
                <button id="close" @click="closeMenu">X</button>
            </div>
            <div class="content">
                <div class="binds">
                    <div class="bind" v-for="bind in binds" :key="bind.bind_key">
                        <h2>{{ bind.bind_key }}</h2>
                        <div class="actions">
                            <select v-model="bind.selectedAction" @change="onBindChange(bind)">
                                <option value="">None</option>
                                <option v-for="action in availableActions(bind)" :key="actionKey(action)"
                                    :value="actionKey(action)">
                                    {{ action.label }}
                                </option>
                            </select>
                            <button class="delete" @click="deleteBind(bind)"
                                :disabled="!bind.selectedAction">X<small>Delete</small></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button @click="resetBinds">Reset</button>
            </div>
        </div>
    </div>
    <script src="vendor/vue.js"></script>
    <script src="app.js" type="text/javascript"></script>
</body>

</html>