body {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    position: absolute;
    bottom: 3.1%;
    left: 7.2%;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.circle {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.circle canvas {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #000;
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
