@font-face {
    font-family: rdr;
    src: url(./fonts/chinese\ rocks\ rg.otf) format('opentype');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: rdr;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: #F2F0EF;
    border-radius: 0.5rem;
    -webkit-box-shadow: -5px 5px 15px 5px #000000;
    box-shadow: -5px 5px 15px 5px #000000;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0);
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: darkred;

    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.content {
    width: 90%;
    justify-content: space-between;
    margin: 2%;
    padding: 2%;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: darkred transparent;
}

.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .35);
    border-radius: 999px;
    margin: 10% 0;
    margin-block: 10%;
}

.content::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #b00000;
}

.bind {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    justify-content: space-between;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    color: darkred;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.delete {
    color: darkred;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 2%;
    padding-left: 4%;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

select {
    width: 100%;
    /* style with radius */
    border-radius: 0.4rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: rdr;
}